{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools %}
  <div style="overflow: hidden;">
    {% for k, v in total_dict.items %}
    <div class="float-left" {% if not forloop.first %}style="margin-left: 20px;"{% endif %}>
      <h5>{% trans 'Total turnover' %}</h5>
      <h1>&{{ k }}; {{ v.0 }}</h1>
      <p class="mini">(&{{ k }}; {{ v.1 }} incl. tax)</p>
    </div>
    {% endfor %}

    {% for k, v in outstanding_dict.items %}
    <div class="float-left" style="margin-left: 20px;">
      <h5>{% trans 'Total outstanding' %}</h5>
      <h1>&{{ k }}; {{ v.0 }}</h1>
      <p class="mini">(&{{ k }}; {{ v.1 }} incl. tax)</p>
    </div>
    {% endfor %}
  </div>
  {{ block.super }}
{% endblock %}
